@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");

body,
html {
	margin: 0;
	/* overflow: hidden; */

	box-sizing: border-box;

	background-color: whitesmoke;
}

#vignette {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	box-shadow: inset 0 0 5em 0.01em #0002;
	z-index: 2;

	pointer-events: none;
}

canvas {
	position: fixed;
	filter: blur(1px);

	animation: rotate-canvas 1s linear forwards;
	animation-play-state: paused;
	animation-timing-function: ease-in-out;

	will-change: transform;
}

main {
	position: relative;
	width: calc(100vw - (100vw - 100%));
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	text-align: center;

	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	font-size: 15px;
	letter-spacing: 0.15em;

	color: #555;
	z-index: 1;

	overflow: hidden;
}

@media (prefers-reduced-motion) {
	main > div > * {
		opacity: 1 !important;
		animation: none !important;
	}
}

@media not all and (prefers-reduced-motion) {
	@keyframes fadeInLeft {
		0% {
			opacity: 0;
			transform: translateX(-20px);
		}
		100% {
			opacity: 1;
			transform: translateX(0);
		}
	}
	@keyframes fadeInBottom {
		0% {
			opacity: 0;
			transform: translateY(100px);
		}
		100% {
			opacity: 1;
			transform: translateY(0);
		}
	}
	/*! name used in js */
	@keyframes rotate-canvas {
		100% {
			transform: perspective(1000px) scale(2.5, 2) translate(200px, 200px) rotate3d(0.4, 1, 0, 50deg);
			filter: blur(5px);
		}
	}
}

h1 {
	font-family: "Montserrat", sans-serif;
	font-size: 2rem;
	letter-spacing: 0.15em;

	color: rgb(30, 30, 30);

	margin-bottom: 0;

	opacity: 0;
	animation: fadeInLeft 0.4s ease-out forwards;
}

#summary ul {
	list-style: none;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;

	display: flex;
	justify-content: center;
	gap: 1rem;
	padding: 0;

	opacity: 0;
	animation: fadeInLeft 0.4s ease-out 0.1s forwards;
}

#summary li {
	height: 42px;
}

h2 {
	font-size: 1rem;
	font-weight: 400;

	margin-top: 0;
	margin-bottom: 1.5em;

	opacity: 0;
	animation: fadeInLeft 0.4s ease-out 0.2s forwards;
}

#summary p {
	margin-bottom: 0;
}
#summary p:nth-last-child(3) {
	opacity: 0;
	animation: fadeInLeft 0.4s ease-out 0.3s forwards;
}

#summary p:nth-last-child(2) {
	opacity: 0;
	animation: fadeInLeft 0.4s ease-out 0.4s forwards;
}

#summary p:nth-last-child(1) {
	opacity: 0;
	animation: fadeInLeft 0.4s ease-out 0.5s forwards;
}

#summary a {
	text-decoration: none;
	color: inherit;
}
a:hover {
	color: #9c2900;
}

main > div {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#offset {
	transform: translateY(-100px);
}

#about-me {
	min-height: 100vh;
	height: fit-content;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	padding-bottom: 80px;
}

#plaque {
	animation: fadeInBottom 1s ease-in forwards;
	animation-play-state: paused;
}

#plaque.hidden {
	opacity: 0;
}

#about-me > div {
	padding: 32px;
	min-width: 500px;
	max-width: 900px;
	min-height: 40%;

	display: flex;
	align-items: center;
	gap: 32px;

	background: rgba(240, 240, 240, 0.18);
	border-radius: 64px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.12);
	backdrop-filter: blur(40px);
	border: 1px solid rgba(255, 255, 255, 0.3);
}

@media screen and (max-width: 968px) {
	#about-me > div {
		flex-direction: column;
		align-items: center;
		width: 100%;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}
	#about-me {
		align-items: flex-end;
		padding-bottom: 0;
	}
}

#about-me > div > img {
	object-fit: contain;
	height: auto;
	width: 300px;
	height: 300px;
	border-radius: 50%;
}

#about-me a {
	color: inherit;
}

#about-me ul {
	text-align: left;
}

#about-me li {
	margin-bottom: 0.5rem;
}
